$bg-sidebar:#F3F6FC;
$search-icon:#C4EED0;
$home-icon:#C2E7FF;
$text:#1F1F1F;
$text2:#1C1B1D;
$card:#F8F1F6;
$bg-card-hover-color:#CCE4F7;
$btn:#6442D6;
$bg-icon1:#F1D3F9;
$accent: #2B4074;
$bg-sidebar:#F2ECEE;
$bg-icon2:#DCDAF5;







